[alias]
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    co = checkout
    br = branch
    count   = !git shortlog -sn
    ss = submodule status
    serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git

[user]
    name = Simon Wingrove
    email = simonjw@gmail.com

[color]
        diff = auto
        status = auto
        branch = auto
        ui = true

[core]
        excludesfile = ~/.gitignore
        editor = vim
        preloadindex = true

[apply]
        whitespace = nowarn

[mergetool]
  keepBackup = false

[difftool]
  prompt = false

[help]
  autocorrect = 1

[rerere]
  enabled = true

[include]
  path = .gitconfig-corp
[repo]
	superprojectChoiceExpire = 1652959527
	superprojectChoice = true
